<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank | Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div class="header">
            <div>
                <p>
                    Welcome to HDFC Bank NetBanking
                </p>
                <div>
                    <img src="https://netbanking.hdfcbank.com/netbanking/gif/Logo.svg" alt="HDFC">
                </div>
            </div>
        </div>
        <div class="sub-header">
            <div>
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div>
                <a href="{% url 'open' %}">Open Account</a>
            </div>
            <div>
                <a href="{% url 'balance' %}">Balance Enquiry</a>
            </div>
            <div>
                <a href="{% url 'credit' %}">Deposit</a>
            </div>
            <div>
                <a href="{% url 'debit' %}">Withdraw</a>
            </div>
            <div>
                <a href="{% url 'transfer' %}">Money Transfer</a>
            </div>
        </div>
    </header>
    <section>
        <div class="contents">
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/1077/1077012.png" alt="User-Img">
                    <a href="{% url 'open' %}">
                        <button type="submit">
                            Open New Account
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/4402/4402521.png" alt="Balance-Img">
                    <a href="{% url 'balance' %}">
                        <button type="submit">
                            Balance Enquiry
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/2769/2769253.png" alt="Withdrawal-Img">
                    <a href="{% url 'debit' %}">
                        <button type="submit">
                            Money Withdrawal
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/5566/5566941.png" alt="Deposit-Img">
                    <a href="{% url 'credit' %}">
                        <button type="submit">
                            Money Deposit
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/7401/7401215.png" alt="MoneyTransfer-Img">
                    <a href="{% url 'transfer' %}">
                        <button type="submit">
                            Transfer Money
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/3791/3791146.png" alt="Count-Img">
                    <a href="{% url 'pin' %}">
                        <button type="submit">
                            PIN Generation
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/128/3791/3791146.png" alt="Count-Img">
                    <a href="{% url 'display' %}">
                        <button type="submit">
                            View Details
                        </button>
                    </a>
                </div>
            </div>
            <div class="containers"></div>
        </div>
    </section>
</body>
</html>