* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: azure;
}

header {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.header {
    width: 50%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 1rem;
}

.header div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header div p {
    font-size: 25px;
}

.sub-header {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-header a {
    text-decoration: none;
    color: black;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container input, .form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
.message {
    text-align: center;
    color: red;
    margin-bottom: 10px;
}